/* commons  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

.container {
    width: 100%;    
}

.container_ {
    width: 80%;
    margin: 0 auto;
    
}

.container_retro {
    width: 80%;
    margin: 0 auto;
    
}

.nort {
    width: 80%;
    margin: 0px auto;
    position: relative;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

.left{
    float: left;
}


/* header */
header {
    height: 10vhvh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    /* position: fixed;
    z-index: 1; */
}

.tainer {
    width: 96%;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

#isi {
    position: absolute;
    left: 150px;
    bottom: 35px;
}

#der {
    position: absolute;
    right: 150px;
    bottom: 35px;
}

#isi ul li,
#der ul li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

#isi ul li a,
#der ul li a {
    text-decoration: none;
    color: black;
}

.start {
    position: absolute;
    right: 0;
    text-decoration: none;
    background-color: rgb(0, 47, 255);
    padding: 5px 15px;
    color: white;
    bottom: 30px;
}
.logo{
    position: absolute;
    top: 22px;

}

/* header */



/* jumbotron */

#jumbotron {
    height: 580px;
    margin-top: 80px;
    background-color: #b4d0e7
}

#jumbotron h1 {
    font-size: 65px;
    margin-top: 30px;
    position: absolute;
    top: 30px;    
}

.square {
    width: 350px;
    font-size: 15px;
    position: relative;
    top:250px;
}

#aggratis {
    background-color:rgb(0, 47, 255) ;
    color: white;
    padding: 10px 15px;
    position: relative;
    top: 270px ;
    text-decoration: none;
    font-size: 16px;
}

#aggratis_30 {
    background-color:rgb(0, 47, 255) ;
    color: white;
    padding: 10px 45px;
    position: relative;
    left:25px;
    top: 30px;
    text-decoration: none;
    font-size: 14px;
}

#aggratis_ {
    background-color:rgb(0, 47, 255) ;
    color: white;
    padding: 10px 65px;
    position: relative;
    bottom:110px;
    left: 690px; 
    text-decoration: none;
    font-size: 14px;
}
#decline {
    font-size: 14px;
    position: relative;
    top: 310px;
    right: 218px;
}
   
#arrow {
    font-size: 30px;
    position: relative;
    top: 375px;
    right: 410px;
}

.jumbo {
    width: 50%;
    max-width: ;
    position: relative;
    left: 515px;
    top: 130px;    
}

/* jumbotron */



/* main */

/* ur_plan */

#ur_plan {
    margin: 200px 60px 0px;
    font-size: 20px;
    
}

.top  {
    font-size: 39px;
}

.wallys {
    margin: 50px 0;
    line-height: 20px;
    font-size: 20px;
}

.wally {
    display: inline-block;
    border-radius: 50%;
    border:6px solid rgb(25, 105, 255);
    width: 25px;
    height: 25px;
    vertical-align: middle;
    
}

.wally_b {
    display: inline-block;
    border-radius: 50%;
    border:1px solid rgb(173, 173, 173);
    width: 25px;
    height: 25px;
    margin-left: 15px;
    vertical-align: middle;    
}

/* /ur_plan */

/* box_section */

.floater {
    margin-top: 50px;
    /* border: 1px solid green; */
}    


.box {
    width:300px ;
    border: 1px solid lightgrey;
    height: 1000px;
    margin-right: 50px;
}

.lonely {
    text-align: center;
    padding: 10px;
    border-bottom:1px solid rgb(173, 173, 173) ;
    font-size:18px ;
}

.professional{
    font-size: 25px;
}

.capsule {
    font-size: 14px;
    
}

.professional,
.money,
.mese,
.pencil {
    margin: 30px 0 20px;
    padding-left: 25px;
}

.money {
    font-size: 18px;
    position: relative;
    bottom: 5px;
}

.mese {
    color: rgb(110, 110, 110);
    position: relative;
    bottom: 20px;
}
.utente,
.folder {
    padding-left: 25px;
    padding-top: 20px;
}

.choice {
    padding-left:25px ;
    position: relative;
    top: 70px;
}

.choice a {
    color: rgb(25, 105, 255);
    font-weight: bold;
}

.horizontal_rule {
    width: 50px;
    border-bottom: 1px solid rgb(167, 167, 167);
    position: relative;
    top :100px;
    margin-left: 25px;
}

.hot_spot {
    padding-left: 25px;
    position: relative;
    top:140px;
}

.list {
    position: relative;
    top: 150px;
}

.list ul li {
    list-style: none;

    margin-top: 20px;
    padding-left: 25px;
    
}

#check {
    color:rgb(25, 105, 255);
    font-weight: bolder;
    font-size: 18px;
}

/* .list ul li::before {
    content:"\2713";
    color:rgb(25, 105, 255);
    font-weight: bolder;
    font-size: 18px;
    removed beacuse keep give problem with the space under check
} */
/* box_section */
/* enterprise */
.enterprise_box {
    width: 1000px;
    border: 1px solid lightgrey;
    /* height: 200px; */
    margin-top: 40PX;
    
}

.team {
    text-align: center;
    padding: 10px;
    border-bottom:1px solid rgb(173, 173, 173) ;
    font-size:18px ;
}

.en {
    margin-left: 25px;
}

#enter {
    margin-top: 30px;
}
.en h6 {
    margin-top: 15px;
}

.en p {
    font-size: 13px;
    margin: 30px 0 15px;    
}
/* /enterprise */

/* partner */

.partner {
    margin: 100px 0;
}

.partner img {
    width: 50%;
}

.partnership {
    width: 500px;
    padding: 50px;
}
.partnership>p {
    width: 360px;
    font-size: 14px;
    margin: 30px 0;
    line-height: 25px;
}

#find_part {
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 14px;   
}



.eggs {
    width: calc( 100% / 3 - 60px );
    height: 450px;
    margin-top: 100px;
    margin-right:60px;
    float: left;
    /* border: 1px solid lightgray; */
}

.eggs>img {
    width: 100%;
    /* size: cover; */
}

.eggs p{
    margin-top: 25px;
    font-size: 16px;
}
.eggs p>.underliner {
    text-decoration: underline;
}
/* /partner */
/* five_h_thousand */

.five {
    width: 540px;
    
}

._h_{
    font-size: 39px;
    position: relative;
    top: 150px;
}
#discover {
    position: relative;
    top: 180px;
    font-size: 14px;
    color: rgb(32, 129, 255);
    font-weight: bold;
}
/* five_h_thousand */
/* main */

/* design_it */
.topps, 
.morten,
.planet {
    height: 500px;
}

.design {
    width: 100%;
    height: 800px;
    position: relative;
    top: 230px;
    background-color: rgb(134, 181, 235);
}

.topps {
    width: 30%;
   }

.morten {
    width: 40%;
    padding: 40px;
    background-color: rgb(235, 235, 235);
}

.planet {
    width: 30%;
    }

.bring {
    font-size:39px ;
    color: rgb(100, 0, 0);
    width:500px ;
    position: relative;
    top: 100px;
    left: 210px;
}

.down_town a {
    background-color: rgb(226, 226, 226);
    padding: 10px 55px;
    text-decoration: none;
    color: black;
    position: relative;
    left: 980px;
    top: 20px;
}

.morten img {
    width: 25%;
}

.h_rule {
    width: 50px;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
    right: 25px;
    top: 30px;
    margin-left: 25px;
}
.members {
    position: relative;
    top: 90px;
    font-size: 17px;
}

#tom {
    font-size: 17px;
    position: relative;
    top: 145px;

}
/* /design_it */

.planet {
    position: relative;
}
.xob {
    height: 50%;
    width: 50%;
}

/* right_rubik */
.red {
    background-color:rgb(211, 0, 0) ;
}

.blued {
    background-color: rgb(0, 10, 146);
}

.tur {
    background-color: #b4d0e7;
}

.gold {
    background-color: gold;
}

.bicycle_log {
    top: 90px;
    left: 45px;
}

.hearest_log {
    top: 120px;
    left: 45px;
}

.lonely_log {
    top: 90px;
    left: 45px;
}

.clear_log {
    top: 80px;
    left: 45px;
}
/* /right_rubik */

/* left_rubik */
.greeny {
    background-color: #d0e9cd;
    text-align: center;
}

.armor { 
    background-color: #a2d39b;
    width: 210px;
    height: 230px;
    position: relative;
    left: 10px;
    top: 10px;
}

.bor {
    background-color: #61082b;
}

.flo {
    background-color: #0093ce;
}

.reddish {
    background-color: #ff1c1c;
}

.rever {
    filter: invert(100%);
    width: 60%;
    position: relative;
}

.design_log {
    top: 90px;   
}
.asu_log {
    top: 75px;
    left: 50px;
}

.flo_log {
    top: 105px;
    left: 40px;
}

.topps_log {
    top: 90px;
    left: 45px;
}

/* left_rubik */

/* /design_it */


/* faq */

.qaf {
    font-size: 35px;
    margin-bottom: 50px;
}

.difference {
    padding-top: 30px;
    border-top: 1px solid lightgray;
    margin-bottom: 25px;
}

.difference_{
    padding: 30px 0; 
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
}

.fa-chevron-down {
    position: relative;
    left: 480px;

}

/* faq */

/* footer */

footer {
    height: 500px;
    width: 100%;
}
/* footer */










/* debug */

/* .debug header {
    background-color: rgb(255, 251, 0);
} */

/* .debug header .tainer {
    background-color: violet;
    height: 100%;
} */

/* .debug #jumbotron {
    background-color: rgb(0, 0, 255); */


/* .debug .container_ {
    background-color: rgb(255, 255, 255);
    height:3000px;
} */

/* .debug .container_retro {
    background-color: red;
    height:500px;
}     */

/* .debug .container_retro #faq {
    background-color: yellowgreen;
    height: 700px; */

/* .debug .enterprise_box {
    background-color: lime;
} */

/* .debu .business #sixiers .eggs {
    background-color: lime;
}  */

/* .debug footer {
    background-color: teal;

} */

/* .debug .design {
    height: 800px;
    background-color: #b4d0e7);
} */

.debug .ciccione {
    width: 90%;
    margin: 0 auto;
    /* background-color: crimson; */
    height: 500px;
    position: relative;
    top: 350px;
}

